<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lala.springbootdb.dao.LogListDao">

    <select id="getRow" resultType="int">
        select count(*) from sys_logs <where><if test="username!=null and username!=''">username like concat("%",#{username},"%")</if></where>
    </select>
    <select id="selectByPage" resultType="com.lala.springbootdb.pojo.SysLog">
        select * from sys_logs
    </select>
    <select id="selectByUsername" resultType="com.lala.springbootdb.pojo.SysLog">
        select * from sys_logs <where><if test="username!=null and username!=''">username like concat("%",#{username},"%")</if></where> limit #{startIndex},#{pageSize1}
    </select>
    <delete id="deleteOne" >
        delete from sys_logs where id in <foreach collection="ids" open="(" close=")" separator="," item="id">#{id}</foreach>
    </delete>
</mapper>